name: Update Contributors

on:
  push:
    branches: [ main ]  

permissions:
  contents: write
  pull-requests: write

jobs:
  update-contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Contributors
        uses: jaywcjlove/github-action-contributors@main
        with:
          filter-author: (renovate\[bot\]|dependabot\[bot\])
          image_size: 100
          columns_per_row: 6
          commit_message: 'docs: update contributors'
          committer_username: 'github-actions[bot]'
          committer_email: 'github-actions[bot]@users.noreply.github.com'