name: Update Contributors

on:
  push:
    branches: [ main ]  

permissions:
  contents: write
  pull-requests: write

jobs:
  update-contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Contributors
        uses: jaywcjlove/github-action-contributors@main
        with:
          filter-author: (renovate\[bot\]|dependabot\[bot\])
          excludeBots: true
          avatarSize: 100